@import "tailwindcss";
@import "daisyui/daisyui.css";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "bg-gradient-to-r from-Linear-#632EE3 via-purple-500 to-Linear-#9F62F2";
  --color-secondary: teal;
}
